Null Hypothesis(H0) : The defective percentage varies across all the four centres (Independent)

Alternative hypothesis (H1) : The defective percentage is same across all the four centres (Dependent)

We are going to conduct a Chi-Square test of Independence with Contingency table

In [1]:
import numpy as np
from scipy.stats import chi2_contingency
import pandas as pd
df = pd.read_csv("C:\\Users\\marpaka pradeep sai\\Downloads\\Costomer+OrderForm.csv")
df

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [2]:
df['Phillippines'].value_counts()

Phillippines
Error Free    271
Defective      29
Name: count, dtype: int64

In [3]:
df['Indonesia'].value_counts()

Indonesia
Error Free    267
Defective      33
Name: count, dtype: int64

In [4]:
df['Malta'].value_counts()

Malta
Error Free    269
Defective      31
Name: count, dtype: int64

In [5]:
df['India'].value_counts()

India
Error Free    280
Defective      20
Name: count, dtype: int64

In [6]:
observed_values = [[271,267,269,280],
                    [29,33,31,20]]
print(observed_values)

[[271, 267, 269, 280], [29, 33, 31, 20]]

In [7]:
# Perform chi-square test
chi2, p, dof, expected = chi2_contingency(observed_values)

In [8]:
print("Chi-square value :", chi2)

Chi-square value : 3.858960685820355

In [9]:
print("P value :", p)

P value : 0.2771020991233135

In [10]:
P_value = p

In [11]:
print("Degrees of Freedom :", dof)

Degrees of Freedom : 3

In [12]:
print("Expected values :",expected)

Expected values : [[271.75 271.75 271.75 271.75]
 [ 28.25  28.25  28.25  28.25]]

In [13]:
# 5% level of significance
alpha = 0.05

In [14]:
# here p = p value
if P_value < alpha:
    print("H0 is rejected and H1 is accepted")
    print("Therefore, there is a significance evidence to conclude that the defective percentage is same across all the four centres.")
else :
    print("H1 is rejected and H0 is accepted")
    print("Therefore, there is a significance evidence to conclude that the defective percentage varies across all the four centres")

H1 is rejected and H0 is accepted
Therefore, there is a significance evidence to conclude that the defective percentage varies across all the four centres

# Therefore, there is a significance evidence to conclude that the defective percentage varies across all the four centres. Hence, the centres are Independent