# The appropriate statistical test for comparing the means of more than two groups is the Analysis of Variance (ANOVA). Since you have data from four different laboratories and you want to determine whether there is any difference in the average Turn Around Time (TAT) among these laboratories, a one-way ANOVA would be suitable for this problem.

Null Hypothesis (H0):
There is no significant difference in the average Turn Around Time (TAT) among the different laboratories on the preferred list.

H0: μ1 = u2 = u3 = u4


Alternative Hypothesis (H1):
There is a significant difference in the average Turn Around Time (TAT) among the different laboratories on the preferred list.

H1: At least one of them μ1, u2, u3, u4 is different

In [1]:
import pandas as pd
df = pd.read_csv("C:\\Users\\marpaka pradeep sai\\Downloads\\LabTAT.csv")
df

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [2]:
# Assuming the original DataFrame (df)
# Melting the DataFrame to convert it to long format
melted_df = pd.melt(df, var_name="Laboratories", value_name="TAT")
df_new = melted_df
df_new

     Laboratories     TAT
0    Laboratory 1  185.35
1    Laboratory 1  170.49
2    Laboratory 1  192.77
3    Laboratory 1  177.33
4    Laboratory 1  193.41
..            ...     ...
475  Laboratory 4  172.68
476  Laboratory 4  177.64
477  Laboratory 4  170.27
478  Laboratory 4  150.87
479  Laboratory 4  162.21

[480 rows x 2 columns]

In [3]:
from statsmodels.formula.api import ols
anova1 = ols("TAT ~ C(Laboratories)", data = df_new).fit()
anova1

In [4]:
import statsmodels.api as sm
table = sm.stats.anova_lm(anova1, type = 1)
table

                    df         sum_sq       mean_sq           F        PR(>F)
C(Laboratories)    3.0   79979.167089  26659.722363  118.704217  2.115671e-57
Residual         476.0  106904.608903    224.589515         NaN           NaN

In [5]:
pvalue = table.iloc[0,4]
alpha = 0.05

In [6]:
pvalue

2.1156708950042322e-57

In [7]:
# Conclusion with P value
if pvalue < alpha:
    print("Ho is rejected and H1 is accepted")
else :
    print("H1 is rejected and H0 is accepted")

Ho is rejected and H1 is accepted

# Therefore, there is sufficient evidence to conclude that there is a significant difference in the average Turn Around Time (TAT) among the different laboratories.